/*
PushIn.js
=========
CSS document for working sample.
PushIn.js is a plugin which can be attached to any
div element to simulate a dolly-in or push-in effect.
*/


/* CONSOLE FOR DEBUGING */

header {
	position: fixed;
	top: 0;
	height: 40px;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	z-index: 9999;
	background: white;
}


/* LAYOUT */


html {
	height: 100%;
}

body {
	height: 8000px;
}

* {
	box-sizing: border-box;
	margin: 0;
	}

#wrapper {
	position: fixed;
	top: 0px;
	bottom: 0px;
	display: block;
	width: 100%;
	overflow: auto;
}

#scroller, .layer {
	display: block;
	width: 100%;
}

#scroller {
	position: absolute;
	height: 100%;
	background: linear-gradient(90deg, #FFF200, #DA36E2);
	background-size: 400%;
	animation: BackgroundAnimation 12s ease infinite;
}

.layer {
	position: fixed;
	text-align: center;
	height: 100vh;
	opacity: 1.0;
}




/* LAYER 1 STYLING */

.dot {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20%;            /* Effects height and width together */
	margin: -20% 5%;
	top: 50%;
	border-radius: 50%;
}

/*
	Pseudo-class keeps aspect ratio when resizing
	http://www.mademyday.de/css-height-equals-width-with-pure-css.html
*/
.dot:before {
	content: '';
	display: inline-block;
	padding-top: 100%;      /* 1:1 aspect ratio */
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 50%;
}

.layer h4 {
	width: 50%;
	margin: 0 auto;
	font-size: 5vw;
}

@media (min-width: 767px) {
	.layer h4 {
		font-size: 28.4px;
    width: 66%;
	}
}



/* FUNCTIONAL */


.layer {
	transition: opacity 1000ms ease;
	display: flex;
	align-items: center;
	height: 100vh;
}

.hide {
	width: 0px !important;
	height: 0px !important;
	color: transparent !important;
	opacity: 0 !important;
}



/* COLORS */

.blue,
.green,
.purple {
	animation: ColorPulse 1s linear infinite;
}

.blue {
	background: linear-gradient(90deg, #007eff, transparent);
}

.red {
	background: linear-gradient(90deg, red, transparent);
}

.green {
	background: linear-gradient(90deg, green, transparent);
}

@keyframes ColorPulse {
	0% {background-position: 0% 0%; }
	50% {background-position: 100% 0%; }
	100% {background-position: 0% 0%; }
}

@keyframes BackgroundAnimation{
  0%{background-position: 0% 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0% 50%;}
}

.screen-wipe {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(90deg, #FFF200, #DA36E2);
	z-index: 3;
	position: fixed;
	transform: translateX(-100vw);
}

.screen-wipe.animate {
	animation: screen-wipeAnimation 8s linear;
}
@keyframes screen-wipeAnimation {
	0%{opacity: 1; transform: translateX(-100vw);}
	50%{opacity: 0; transform: translateX(0vw);}
	100%{opacity: 0; transform: translateX(100vw);}
}

.container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  right: 18px;
  padding-bottom: 60px;
	padding: 0;
	font-family: Arial, sans-serif;
	height: 100vh;
	line-height: 1.1;
	background-size: 400%;
}
